header{
    background-color: #634040;
    padding: 5px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    color: #cc8787;
    border: 3px solid #8b7070;
    border-radius: 15px;
    padding: 12px 24px;
    display:inline-block;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}
.Logo{
  position: relative;
  float:left;
  margin-right: 10px;
}

body {
    background-color: #8b6363;
}

.Line {
position: relative;
padding: 4px;
top: 112px;
z-index: 1;
background:#503434;
}

.Line ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Line li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}

.Line li a{
    Text-decoration: none;
    color:#8b6363
}

.Line li a:hover{
text-decoration: none;
}

.Colored-Box {
  background-color: #664343;
  border: 1px;
  padding: 4px 1px;
 margin-left: -41px;
}

.About {
float:right;
}

.Strip {
position: relative;
padding: 4px;
top: 112px;
z-index: 1;
background:#503434;
}

.Strip ul{
 white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
}

.Strip  li {
  width: 10%;
  display: inline-block;
  font-size: 30px;
}
.Strip li a{
    Text-decoration: none;
    color:#8b6363
}
.Strip li a:hover{
  text-decoration: none;
}
main{
  position: relative;
}
.One {
  background-color: #795656;
  margin: 5px 10px 15px 10px;
}
.One h2{
  background-color: #8b6363;
  display: flex;
  flex-direction:column;
  position: relative;
  margin-top: 120px;
  padding: 10px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6em;
}
.One h3 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
    font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: bold;
   padding-right: 15px;
  padding-left: 15px;
}
.One h4{
    display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
    font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: light;
   padding-right: 15px;
  padding-left: 15px;
}

.One img{
  text-align: center;
  display:flex;
  margin: 0 auto;
  flex-direction:row;
  justify-content: center;
  align-items: center;
   padding-right: 15px;
  padding-left: 15px;
}

.One ul{
 display: flex;
  flex-direction:column;
  position: relative;
  margin-top: -50px;
   padding-right: 15px;
  padding-left: 15px;
}

#weather-data {
    display: flex;              
    align-items: flex-start;    
    gap: 20px;                  
  }

  #weather-data img {
    max-width: 250px;           
    height: 160px;
    display: block;
    padding: 10px;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  #weather-data ul {
    margin: 0;                  
    padding-left: 20px;         
  }

.Two {
  background-color: #795656;
display:flex;
flex-direction: row;
flex-flow:column wrap;
justify-content: center;
  margin: 50px 15px 10px 10px;
  align-items: flex-start;
}

.Two h3 {
  display:flex;
  Flex-direction:column;
  justify-content: center;
  flex-wrap:nowrap;
  align-self: center;
  order: 1;
 font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: bold;
}

.Two h4{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: center;
  order: 2;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: light;
}
.Three{
    background-color: #795656;
display:flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: center;
  margin: 50px 15px 10px 10px;
  align-content: space-around;
gap: 10px 30px;
row-gap: 30px;
column-gap: 30px
}

.flex-col {
    display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-self: center;
  order: 3;
   font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;

}
.flex-col img{
    display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-self: center;
  order: 4;
}
.temp-data{
    display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-self: flex-end;
  order: 5;
  font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
}
.Four{
  background-color: #795656;
  padding: 40px 40px;
 position: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 120px;

}

.Four h2{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  order: 1; 
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}
.Four h4{
display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: flex-start;
order: 2;
position: relative;
width: 20%;
margin-right: 20px;
  font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
}

.Four p{
display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: flex-start;
flex: none;
order: 3;
position: relative;
width: 20%;
margin-right: 20px;
  font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
}

.Four img {
display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: flex-start;
order: 4;
position: relative;
}

.Four a {
display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: flex-start;
order: 5;
position: relative;
}

.Five{
  background-color: #795656;
 position: inline-block;
  display: flex;
  Flex-flow: Column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.Five h2{
    position: relative;
  display: flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: center;
  order: 1; 
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
}

.Five h4{
  display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: center;
order: 2;
position: relative;
width: 20%;
margin-right: 20px;
  font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
}

.Five p {
display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: center;
order: 3;
position: relative;
width: 20%;
margin-right: 20px;
  font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1em;
}

.Five img {
  display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: center;
order: 4;
position: relative;
}

.Five a {
  display: flex;
flex-flow:column nowrap;
justify-content: flex-start;
align-items: center;
order: 5;
position: relative;
}

footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background: #634040;
  color: #cc8787;
 font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.4em;
  padding: 30px;
  text-align: center;
  white-space: nowrap;
}

footer a {
  color: #e07979;
}